.ReactModal__Content {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: black;
  width: 50%;
  background-color: #242424 !important;
  padding: 0 !important;

  @media screen and (max-width: 1024px) {
    width: 70%;
  }

  @media screen and (max-width: 420px) {
    width: 90%;
  }
}

.ReactModal__Overlay {
  background-color: rgba(0, 0, 0, 0.6) !important;
}
